/* Estilos generales */

body {
    margin: 0;
}

.base {
    height: 5px;
    background-color: black;
    position: absolute;
    width: 100%;
    top: 650px;
}

.buttons {
    width: 110px;
}

button {
    width: 100px;
    height: 30px;
    margin: 5px;
}

button:hover {
    background-color: skyblue;
}

/* Figuras */
.cuadrado {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    transition: top 2.5s, left 2.5s, transform 2.5s;
}

.triangulo-pequeno {
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-top: 70px solid transparent;
    border-left: 70px solid transparent;
    position: absolute;
    transition: top 2.5s, left 2.5s, transform 2.5s;
}

.triangulo-pequeno-1-color {
    border-bottom: 70px solid brown;
}

.triangulo-pequeno-2-color {
    border-bottom: 70px solid purple;
}

.triangulo-mediano {
    height: 0;
    width: 0;
    border-left: 70px solid orange;
    border-top: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid orange;
    position: absolute;
    transition: top 2.5s, left 2.5s, transform 2.5s;
}

.triangulo-grande {
    height: 0;
    width: 0;
    border-left: 140px solid transparent;
    border-top: 140px solid transparent;
    border-right: 140px solid transparent;
    position: absolute;
    transition: top 2.5s, left 2.5s, transform 2.5s;
}

.triangulo-grande-1-color {
    border-bottom: 140px solid green;
}

.triangulo-grande-2-color {
    border-bottom: 140px solid red;
}

.romboide {
    height: 70px;
    width: 140px;
    background-color: skyblue;
    transform: skew(-45deg);
}

.romboide-animacion {
    transition: top 2.5s, left 2.5s, transform 2.5s;
}
/* https://cybmeta.com/formas-basicas-con-css-triangulos-circulos-trapecios-rectangulos-cuadrados */


/* Empiezan las clases para cambio de posición de las figuras */

/* Inicial */
.cuadrado-posicion-inicial {
    top: 520px;
    left: 190px;
    transform: rotate(45deg);
}

.triangulo-pequeno-1-posicion-inicial {
    top: 500px;
    left: 240px;
}

.triangulo-pequeno-2-posicion-inicial {
    top: 430px;
    left: 170px;
    transform: rotate(90deg);
}

.triangulo-mediano-posicion-inicial {
    top: 500px;
    left: 100px;
}

.triangulo-grande-1-posicion-inicial {
    top: 360px;
    left: 100px;
    transform: rotate(180deg);
}

.triangulo-grande-2-posicion-inicial {
    top: 360px;
    left: 100px;
    transform: rotate(-90deg);
}

.romboide-posicion-inicial {
    position: absolute;
    top: 430px;
    left: 65px;
    transform: rotate(90deg);
}

/* Corredor */
.cuadrado-posicion-corredor {
    top: 188px;
    left: 850px;
    transform: rotate(15deg);
}

.triangulo-pequeno-1-posicion-corredor {
    top: 350px;
    left: 530px;
}

.triangulo-pequeno-2-posicion-corredor {
    top: 560px;
    left: 980px;
    transform: rotate(180deg);
}

.triangulo-mediano-posicion-corredor {
    top: 420px;
    left: 630px;
    transform: rotate(-45deg);
}

.triangulo-grande-1-posicion-corredor {
    top: 210px;
    left: 710px;
}

.triangulo-grande-2-posicion-corredor {
    top: 300px;
    left: 800px;
    transform: rotate(180deg);
}

.romboide-posicion-corredor {
    position: absolute;
    top: 490px;
    left: 885px;
    transform: rotateX(180deg);
}

/* Pato */
.cuadrado-posicion-pato {
    top: 196px;
    left: 759px;
    transform: rotate(180deg);
}

.triangulo-pequeno-1-posicion-pato {
    top: 562px;
    left: 730px;
    transform: rotate(135deg);
}

.triangulo-pequeno-2-posicion-pato {
    top: 559px;
    left: 900px;
    transform: rotate(210deg);
}

.triangulo-mediano-posicion-pato {
    top: 126px;
    left: 690px;
    transform: rotate(135deg);
}

.triangulo-grande-1-posicion-pato {
    top: 394px;
    left: 660px;
    transform: rotate(180deg);
}

.triangulo-grande-2-posicion-pato {
    top: 254px;
    left: 800px;
    transform: rotate(0deg);
}

.romboide-posicion-pato {
    position: absolute;
    top: 310px;
    left: 689px;
    transform: rotateX(180deg) rotate(45deg);
}
